<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{title}}</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['/cases']" class="btn btn-sm btn-primary" title="back"><i class="fa fa-arrow-left"></i></a>
            </div>
          </div>  
         
        </div>
        <div class="card-body">
         

          <form [formGroup]="addcseform">
            <h6 _ngcontent-c9="" class="heading-small text-muted mb-4">case information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <input type="hidden" name="__vtrftk" formControlName="__vtrftk">
                        <input type="hidden" name="publicid" formControlName="publicid">
                        <input type="hidden" name="urlencodeenable" formControlName="urlencodeenable">
                        <input type="hidden" name="name" formControlName="name" >
                         <input type="hidden" name="__vtCurrency" formControlName="__vtCurrency">
                         <input type="hidden" name="cf_leads_username" formControlName="cf_leads_username">
                <!-- <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Plevin Introducer
                      *</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="Plevin" name="fld_vtcmctaname" formControlName="fld_vtcmctaname">
                    <span *ngIf="isSubmitted && formControls.fld_vtcmctaname.errors" class="help-block">
                      <span *ngIf="formControls.fld_vtcmctaname.errors.required"><h5 style="color: rgb(194, 37, 37);">Plevin is required</h5></span>
                      </span>
                  </div>
                </div> -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Title</label>
                    <input type="hidden"  name="id" formControlName="id">
                    <!-- <input type="hidden"  name="user_id" formControlName="user_id"> -->
                    <!-- <input type="hidden"  name="created_at" formControlName="created_at"> -->
                    <!-- <input type="hidden"  name="updated_at" formControlName="updated_at"> -->
                    <!-- <input type="text"  class="form-control form-control-alternative" placeholder="Title" name="title" formControlName="title"> -->
                    <select class="form-control form-control-alternative" placeholder="Title" name="fld_title_1799" formControlName="fld_title_1799">
                      <option value="">Select Value</option>
                                                                                            <option value="Dr.">
                                                                                                    Dr.
                                                                                                </option>
                                                                                            <option value="Mr.">
                                                                                                    Mr.
                                                                                                </option>
                                                                                            <option value="Mrs.">
                                                                                                    Mrs.
                                                                                                </option>
                                                                                            <option value="Ms.">
                                                                                                    Ms.
                                                                                                </option>
                                                                                            <option value="Prof.">
                                                                                                    Prof.
                                                                                                </option>
                    </select>
                    <span *ngIf="isSubmitted && formControls.fld_title_1799.errors" class="help-block">
                      <span *ngIf="formControls.fld_title_1799.errors.required"><h5 style="color: rgb(194, 37, 37);">Title is required</h5></span>
                      </span>
                  </div>
                 
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">First Name</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="First Name" name="fld_firstname" formControlName="fld_firstname"  maxlength="250" data-label="" value="">
                    <span *ngIf="isSubmitted && formControls.fld_firstname.errors" class="help-block">
                      <span *ngIf="formControls.fld_firstname.errors.required"><h5 style="color: rgb(194, 37, 37);">First Name is required</h5></span>
                      </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Surname</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="Surname" name="fld_surname" maxlength="250" formControlName="fld_surname">
                    <span *ngIf="isSubmitted && formControls.fld_surname.errors" class="help-block">
                      <span *ngIf="formControls.fld_surname.errors.required"><h5 style="color: rgb(194, 37, 37);">Surname is required</h5></span>
                      </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Date Of Birth</label>
                    <input type="date"  class="form-control form-control-alternative" placeholder="DOB" name="fld_dateofbirth" formControlName="fld_dateofbirth">
                    <span *ngIf="isSubmitted && formControls.fld_dateofbirth.errors" class="help-block">
                      <span *ngIf="formControls.fld_dateofbirth.errors.required"><h5 style="color: rgb(194, 37, 37);">Date Of Birth is required</h5></span>
                      </span>
                  </div>
                 </div>
<div class="col-lg-6">
    <div class="row">
    <div class="col-lg-9">
          <label class="form-control-label" for="input-first-name">Postcode</label>
          <input type="text"  id="postcode" class="form-control form-control-alternative" placeholder="Postcode" name="fld_postcode" formControlName="fld_postcode">
          <span *ngIf="isSubmitted && formControls.fld_postcode.errors" class="help-block">
            <span *ngIf="formControls.fld_postcode.errors.required"><h5 style="color: rgb(194, 37, 37);">Current Postcode is required</h5></span>
            </span>
            <span *ngIf="postcodeempty"><h5 style="color: rgb(194, 37, 37);">Current Postcode is required</h5></span>
            <!-- <span *ngIf="filteraddressarray?.length==0 && formControls.fld_postcode.value && radioSelected" class="help-block">
              <span ><h5 style="color: rgb(194, 37, 37);">This postcode is not valid, please try again or enter your address manually</h5></span>
              </span> -->
      </div>
      <div class="col-lg-3" style="text-align: right;top: 33px;">
        <button class="btn btn-info" (click)="findAddress(formControls.fld_postcode.value)"  [disabled]="isLoading"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>Find</button>
      </div>
     

  </div>
  <div class="row">
    <div class="col-lg-6">
<span *ngIf="filteraddressarray?.length==0 && formControls.fld_postcode.value && radioSelected" class="help-block">
    <span ><h5 style="color: rgb(194, 37, 37);">This postcode is not valid, please try again or enter your address manually</h5></span>
    </span>
    </div>
    </div>
  <!-- <div class="row">
      <div class="col-lg-6">
  
      </div>
      </div> -->
</div>

<div class="col-lg-6" *ngIf="formControls.fld_postcode.value && filteraddressarray?.length >0">
  <div class="form-group">
    <label class="form-control-label" for="input-first-name">Select Address</label>
      <select class="custom-select" id="postcode1"  (change)="onAddressChange(formControls.postcode1.value)"  formControlName="postcode1">
          <option *ngFor="let post of filteraddressarray" [ngValue]="post">{{post.line_1}}  {{post.line_2}} </option>
        </select>
    </div>

    </div>

             
               
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Address</label>
                    
                    <input type="text"  class="form-control form-control-alternative"  placeholder="Address"   name="fld_address" formControlName="fld_address" maxlength="255">
                  
                    <!-- <select class="form-control form-control-alternative" placeholder="Choose Address" name="address" formControlName="address">
                      <option value="0" selected>Select</option>
                      <option value="1">Pavin</option>
                    </select> -->
                    <span *ngIf="isSubmitted && formControls.fld_address.errors" class="help-block">
                      <span *ngIf="formControls.fld_address.errors.required"><h5 style="color: rgb(194, 37, 37);">Address is required</h5></span>
                      </span>
                    <!-- <input type="date" id="input-last-name" > -->
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Email Address</label>
                    <input type="text"  class="form-control form-control-alternative" placeholder="Email Address" name="fld_emailaddress" formControlName="fld_emailaddress">
                    <span *ngIf="isSubmitted && formControls.fld_emailaddress.errors" class="help-block">
                      <span *ngIf="formControls.fld_emailaddress.errors.required"><h5 style="color: rgb(194, 37, 37);">Email Address is required</h5></span>
                      </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Phone Number</label>
                    <input type="text"  class="form-control form-control-alternative" placeholder="Phone Number" name="fld_phonenumber" formControlName="fld_phonenumber" maxlength="255" (keypress)="numberOnly($event)">
                    <span *ngIf="isSubmitted && formControls.fld_phonenumber.errors" class="help-block">
                      <span *ngIf="formControls.fld_phonenumber.errors.required"><h5 style="color: rgb(194, 37, 37);">Phone Number is required</h5></span>
                      </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Mobile Number</label>
                    <input type="text"  class="form-control form-control-alternative" placeholder="Mobile Number" name="fld_mobilenumber" formControlName="fld_mobilenumber" maxlength="255" (keypress)="numberOnly($event)">
                    <span *ngIf="isSubmitted && formControls.fld_mobilenumber.errors" class="help-block">
                      <span *ngIf="formControls.fld_mobilenumber.errors.required"><h5 style="color: rgb(194, 37, 37);">Mobile Number is required</h5></span>
                      </span>
                  </div>
                </div>
                 <!-- <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Status</label>
                    <select class="form-control form-control-alternative" placeholder="Choose Address" name="cf_vtcmcta_casestatus" formControlName="cf_vtcmcta_casestatus">
                      <option value="">Select Value</option>
                      <option value="New">
                              New
                          </option>
                      <option value="Retained">
                              Retained
                          </option>
                      <option value="Awaiting SAR">
                              Awaiting SAR
                          </option>
                      <option value="Case Issued">
                              Case Issued
                          </option>
                      <option value="Settlement">
                              Settlement
                          </option>
                    </select>
                    <span *ngIf="isSubmitted && formControls.cf_vtcmcta_casestatus.errors" class="help-block">
                      <span *ngIf="formControls.cf_vtcmcta_casestatus.errors.required"><h5 style="color: rgb(194, 37, 37);">Case status is required</h5></span>
                      </span>
                  </div>
                </div> -->
              </div>
            </div>
              <hr _ngcontent-c9="" class="my-4">
              <h6 _ngcontent-c9="" class="heading-small text-muted mb-4">Bank</h6>
              <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Bank</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Bank" name="fld_bank" formControlName="fld_bank" maxlength="255">
                    <span *ngIf="isSubmitted && formControls.fld_bank.errors" class="help-block">
                      <span *ngIf="formControls.fld_bank.errors.required"><h5 style="color: rgb(194, 37, 37);">Bank is required</h5></span>
                      </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Account Type</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Account Type" name="fld_accounttype" formControlName="fld_accounttype">
                    <span *ngIf="isSubmitted && formControls.fld_accounttype.errors" class="help-block">
                      <span *ngIf="formControls.fld_accounttype.errors.required"><h5 style="color: rgb(194, 37, 37);">Account Type is required</h5></span>
                      </span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Moved Address Since</label>
                    <select class="form-control form-control-alternative" placeholder="Choose Address" name="fld_movedaddresssince_1821" formControlName="fld_movedaddresssince_1821">
                      <option value="yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                    <!-- <span *ngIf="isSubmitted && formControls.fld_movedaddresssince_1821.errors" class="help-block">
                      <span *ngIf="formControls.fld_movedaddresssince_1821.errors.required"><h5 style="color: rgb(194, 37, 37);">Address is required</h5></span>
                      </span> -->
                    <!-- <input type="date" id="input-last-name" > -->
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Did You receive an info pack ?</label>
                    <select class="form-control form-control-alternative" placeholder="Choose Address" name="fld_didyoureceiveaninfopack_1823" formControlName="fld_didyoureceiveaninfopack_1823">
                      <option value="yes">yes</option>
                      <option value="no">no</option>
                    </select>
                    <!-- <span *ngIf="isSubmitted && formControls.address.errors" class="help-block">
                      <span *ngIf="formControls.address.errors.required"><h5 style="color: rgb(194, 37, 37);">Address is required</h5></span>
                      </span> -->
                    <!-- <input type="date" id="input-last-name" > -->
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Happy to be referred to CTA ?</label>
                    <select class="form-control form-control-alternative" placeholder="Choose Address" name="fld_happytobereferredtocta_1825" formControlName="fld_happytobereferredtocta_1825">
                      <option value="yes">yes</option>
                      <option value="no">no</option>
                    </select>
                    <!-- <span *ngIf="isSubmitted && formControls.fld_happytobereferredtocta_1825.errors" class="help-block">
                      <span *ngIf="formControls.fld_happytobereferredtocta_1825.errors.required"><h5 style="color: rgb(194, 37, 37);">Address is required</h5></span>
                      </span> -->
                  </div>
                </div>
               
              </div>
              </div>
              <hr _ngcontent-c9="" class="my-4">
              <h6 _ngcontent-c9="" class="heading-small text-muted mb-4">Upload Documents</h6>
              <div class="pl-lg-4">
            
                <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Upload Document  <span><b>(Maximum allowed file size is 5MB)</b></span></label>
                      <input type="file" name="image" multiple class="form-control form-control-alternative" (change)="fileProgress($event)" name="fld_uploaddocument" formControlName="fld_uploaddocument" placeholder="Document"/>
                      <span *ngIf="isSubmitted && formControls.fld_uploaddocument.errors" class="help-block">
                        <span *ngIf="formControls.fld_uploaddocument.errors.required"><h5 style="color: rgb(194, 37, 37);">Upload Document required</h5></span>
                        </span>
                  </div>
                </div>
              
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Document Description</label>
                    <textarea class="form-control form-control-alternative" name="fld_documentdescription" formControlName="fld_documentdescription"></textarea>
                   <span *ngIf="isSubmitted && formControls.fld_documentdescription.errors" class="help-block">
                      <span *ngIf="formControls.fld_documentdescription.errors.required"><h5 style="color: rgb(194, 37, 37);">Document Description required</h5></span>
                      </span>
                </div>
                </div>
              </div>
              </div><br>
              <div class="form-group">
                <button type="submit" class="btn btn-info" (click)="addcase()">save</button>
              </div>
          
          </form>

          
          <!-- {{addcseform.value | json}} -->
        </div>
      
      </div>
    </div>
  </div>
</div>