<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Change Password</h3>
              </div>
            </div>           
          </div>
          <div class="card-body">
            <form [formGroup]="changepasswordform">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Current Password</label>
                      
                        <input type="password" class="form-control form-control-alternative" placeholder="Currunt Password" name="current" formControlName="current">
                        
                        <span *ngIf="isSubmitted && formControls.current.errors" class="help-block">
                            <span *ngIf="formControls.current.errors.required"><h5 style="color: rgb(194, 37, 37);">Current password is required</h5></span>
                          </span>
                      </div>
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">New Password</label>
                       
                        <input type="password" class="form-control form-control-alternative" placeholder="New Password"  name="password" formControlName="password">
                       
                        <span *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                            <span *ngIf="formControls.password.errors.required"><h5 style="color: rgb(194, 37, 37);">New password is required</h5></span>
                          </span>
                          <span *ngIf="changepasswordform.get('password').errors && (changepasswordform.get('password').touched || changepasswordform.get('password').dirty)">
                            <h5 style="color: red;">Password must be 8 characters, 1 upper case letter, and 1 special character</h5>
                            </span>
                      </div>
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Confirm Password</label>
                       
                        <input type="password" class="form-control form-control-alternative" placeholder="Confirm Password"  name="password_confirmation" formControlName="password_confirmation">
                      
                        <span *ngIf="isSubmitted && formControls.password_confirmation.errors" class="help-block">
                            <span *ngIf="formControls.password_confirmation.errors.required"><h5 style="color: rgb(194, 37, 37);">Confirm password is required</h5></span>
                          </span>
                      </div>
                      <div class="form-group">
                       <button class="btn btn-info" (click)="changepassword()">Change</button>
                      </div>
                    </div>
                </div>
            </div>
                    </form>
                    <!-- {{changepasswordform.value | json}} -->
          </div>
         
        
        </div>
      </div>
    </div>
    
  </div>
  