<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <!-- <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{user_data.firstname + user_data.surname}}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
      </div>
    </div>
  </div> -->
</div>
<div class="container-fluid" style="margin-top:-31rem">
  <div class="row">
    <!-- <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="./../../../assets/img/uimg.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
           
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
              
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{user_data.firstname + user_data.surname}}<span class="font-weight-light">, {{user_data.address}}</span>
            </h3>
           
          </div>
        </div>
      </div>
    </div> -->
    <div class="col">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My Profile</h3>
            </div>
           
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="updateprofileform">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <input type="hidden" name="id" formControlName="id">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" class="form-control form-control-alternative" placeholder="Username" name="username" formControlName="username" disabled>
                  </div>
                </div>
                <!-- <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Choose Password</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="choose Password" name="password" formControlName="password">
                  </div>
                </div> -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Title</label>
                    <select class="form-control form-control-alternative" placeholder="Title" name="title" formControlName="title">
                      <option value="">Select</option>
                      <option value="1">Mr</option>
                      <option value="2">Ms</option>
                    </select>
                    <!-- <input type="text" id="input-last-name" > -->
                  </div>
                </div>
                
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">First name</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" name="firstname" formControlName="firstname">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Surname</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" name="surname" formControlName="surname">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">DOB</label>
                      <input type="date" id="input-last-name" class="form-control form-control-alternative" placeholder="DOB" name="dob" formControlName="dob">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Postcode</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="Postcode"  name="postcode" formControlName="postcode" (keypress)="numberOnly($event)" maxlength="6">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Address</label>
                      <input id="input-address" class="form-control form-control-alternative" placeholder="Address" name="" type="text"  name="address" formControlName="address">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="Email address"  name="email" formControlName="email" disabled>
                      <input type="hidden" id="input-email" class="form-control form-control-alternative" placeholder="Email address"  name="email_verified_at" formControlName="email_verified_at">
  
                      <input type="hidden" id="input-email" class="form-control form-control-alternative" placeholder="Email address"  name="created_at" formControlName="created_at">
                      <input type="hidden" id="input-email" class="form-control form-control-alternative" placeholder="Email address"  name="updated_at" formControlName="updated_at">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Mobile No.</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Mobile No."  name="mobile" formControlName="mobile" (keypress)="numberOnly($event)" maxlength="12">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Additional Contact No.</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Additional Contact No."  name="phone" formControlName="phone" (keypress)="numberOnly($event)" maxlength="12">
                    </div>
                  </div>
                
              </div>
              
            </div>
          
            <div *ngIf="validation_error">
              <div *ngFor="let err of errors">
                {{err}}
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <button href="#!" (click)="updateprofile()" class="btn btn-info">Edit profile</button>
            </div>
            </div>
            <!-- <hr class="my-4" /> -->
            <!-- Description -->
            <!-- <h6 class="heading-small text-muted mb-4">About me</h6> -->
            <!-- <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div> -->
          </form>
          <!-- {{updateprofileform.value | json}} -->
        </div>
      </div>
    </div>
  </div>
</div>
