<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
   
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">{{title}}</h3>
              </div>
              <div class="col-4 text-right">
                <a [routerLink]="['/pba_introducers/inbox']" class="btn btn-sm btn-primary" title="back"><i class="fa fa-arrow-left"></i></a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="addinboxform">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Date</label>
                      <input type="hidden" name="id" formControlName="id">
                      <input type="date" id="input-username" class="form-control form-control-alternative" placeholder="Date" name="date" formControlName="date">
                      <span *ngIf="isSubmitted && formControls.date.errors" class="help-block">
                        <span *ngIf="formControls.date.errors.required"><h5 style="color: rgb(194, 37, 37);">Date is required</h5></span>
                        </span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Select To</label>
                      <select class="form-control form-control-alternative" placeholder="To" name="to" formControlName="to">
                        <option *ngFor="let op of userdata" [value]="op.id">{{op.email}}</option>
                      </select>
                      <input type="hidden"  name="user_email" formControlName="user_email">
                      <!-- <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="To" name="to" formControlName="to"> -->
                      <span *ngIf="isSubmitted && formControls.to.errors" class="help-block">
                        <span *ngIf="formControls.to.errors.required"><h5 style="color: rgb(194, 37, 37);">To is required</h5></span>
                        </span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Subject</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="Subject" name="subject" formControlName="subject">
                      <span *ngIf="isSubmitted && formControls.subject.errors" class="help-block">
                        <span *ngIf="formControls.subject.errors.required"><h5 style="color: rgb(194, 37, 37);">Subject is required</h5></span>
                        </span>
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Message</label>
                      <textarea id="input-last-name" class="form-control form-control-alternative" placeholder="Message" name="message" formControlName="message"></textarea>
                      <span *ngIf="isSubmitted && formControls.message.errors" class="help-block">
                        <span *ngIf="formControls.message.errors.required"><h5 style="color: rgb(194, 37, 37);">Message is required</h5></span>
                        </span>
                    </div>
                  </div>
                </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-info" (click)="addinbox()">{{submittitle}}</button>
                </div>
             
            </form>
            <!-- {{addinboxform.value | json}} -->
          </div>
        
        </div>
      </div>
    </div>

  </div>
  